<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="UTF-8">
       <title>Login/Registration</title>
       <style>
           .messages{
               color: red;
           }
           .block{
               margin: 10px;
               padding: 20px;
               display: inline-block;
               border: solid black 1px;
               vertical-align: top;
           }
       </style>
    </head>
    <body>
        <h1>Welcome!</h1>
        <div class="block">
            <h2>Register</h2>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {% if message.tags == "reg error" %}
                            <li>{{ message }} </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="/register" method="post">
                {% csrf_token %}
                <p>Name: <input type="text" name="name"></p>
                <p>Alias: <input type="text" name="alias"></p>
                <p>Email: <input type="text" name="email"></p>
                <p>Password: <input type="password" name="password"> (must be at least 8 characters)</p>
                <p>Confirm Password: <input type="password" name="confirm"></p>
                <p>Date of Birth: <input type="date" name="birthday"></p>
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="block">
            <h2>Login</h2>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {% if message.tags == "login error" %}
                            <li>{{ message }} </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="/login" method="post">
                {% csrf_token %}
                <p>Email: <input type="text" name="email"></p>
                <p>Password: <input type="password" name="password"></p>
                <input type="submit" value="Login">            
            </form>
        </div>
    </body>
</html>